<div class="containers">
  <p style="color:red"><%= flash[:alert] %></p>
</div><br>
<div class="container">
  <%= bootstrap_form_tag({controller: 'sessions', action: 'new', method: 'POST'}) do |f| %>
    <%= f.text_field :username, label: "Username" %>
    <%= f.password_field :password, label: "Password" %>
    <%= f.submit 'login' %>
  <% end %><br></br>
</div>


<div class="container">
  <a class="navbar-brand" href="/auth/github">You can also login using Github <i class="fa fa-github" style="font-size:36px;color:green"></i></a>
</div>
