<!-- validation erros, move to partial-->
<div class="container">
  <p style="color:red"><%= flash[:message] %></p>
</div>
<%= link_to "New Comment", new_recipe_comment_path(@recipe) %>
<p style="font-weight:bold;">Comments:</p>
<% @recipe_comments.each do |comment| %>
  <div class="container" style="border : solid 1px #000000; color:blue; padding : 4px; width : 800px; height : 200px; overflow : auto; ">
      <h2 style="color:red"><%= flash[:notice] %></h2>
   ~> <%= comment.description %><br>
   <%= render '/recipes/motify', comment: comment %><br></br>

   <%= link_to 'show me this comment', recipe_comment_path(current_user, comment.id)%>

 </div><br>
<% end %>
