<%= f.text_field :title%><br></br>

<%= f.text_area :instructions, label: 'Instructions' %><br></br>


<label>Add Ingredients and Quantity</label><br></br>

<%= f.fields_for :recipe_ingredients, @recipe.recipe_ingredients.build do |recipe_ingredients_fields|%>
  <%= recipe_ingredients_fields.fields_for :ingredient, @recipe.recipe_ingredients.build.build_ingredient do |ingredient_fields| %>

      <%= ingredient_fields.text_field :name %>
      <%= recipe_ingredients_fields.text_field :quantity %><br>
    
  <% end %>
<% end %>

<%= f.fields_for :recipe_ingredients, @recipe.recipe_ingredients.build do |recipe_ingredients_fields|%>
  <%= recipe_ingredients_fields.fields_for :ingredient, @recipe.recipe_ingredients.build.build_ingredient do |ingredient_fields| %>

    <%= ingredient_fields.text_field :name %><br>
    <%= recipe_ingredients_fields.text_field :quantity %><br></br>

  <% end %>
<% end %>

<%= f.fields_for :recipe_ingredients, @recipe.recipe_ingredients.build do |recipe_ingredients_fields|%>
  <%= recipe_ingredients_fields.fields_for :ingredient, @recipe.recipe_ingredients.build.build_ingredient do |ingredient_fields| %>

    <%= ingredient_fields.text_field :name %>
    <%= recipe_ingredients_fields.text_field :quantity %><br>

  <% end %>
<% end %>

<%= f.fields_for :recipe_ingredients, @recipe.recipe_ingredients.build do |recipe_ingredients_fields|%>
  <%= recipe_ingredients_fields.fields_for :ingredient, @recipe.recipe_ingredients.build.build_ingredient do |ingredient_fields| %>

    <%= ingredient_fields.text_field :name %>
    <%= recipe_ingredients_fields.text_field :quantity %><br>

  <% end %>
<% end %>

<%= f.fields_for :recipe_ingredients, @recipe.recipe_ingredients.build do |recipe_ingredients_fields|%>
  <%= recipe_ingredients_fields.fields_for :ingredient, @recipe.recipe_ingredients.build.build_ingredient do |ingredient_fields| %>

    <%= ingredient_fields.text_field :name %>
    <%= recipe_ingredients_fields.text_field :quantity %><br>

  <% end %>
<% end %>
