<div style="background-color:lightgray;" class="container">
  <p style="font-weight:bold; color:red">Ingredients:</p>

<% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
  <li><%= recipe_ingredient.ingredient.name.downcase %>: <%= recipe_ingredient.quantity %></li>
  <% end  %><br>

  <p style="font-weight:bold; color:red">Title:</p>
    <p><%= @recipe.title %></p>

  <p style="font-weight:bold; color:red">Instructions:</p>
    <p><%= @recipe.instructions %><p>

      <% if @recipe.user_id == current_user.id %>
        <%= link_to 'edit', edit_recipe_path%> | <%= link_to 'delete', @recipe, method: :delete, data: { confirm: "WAIT! Seriously?"} %>
      <% end %>

</div><br></br>

<div class="container">
  <hr>
</div>
<%= render 'recipes/comments', recipe: @recipe %>
